<h1>
  Geographic Midpoint Calculator
  <a href="https://github.com/littlegubs/geographic-midpoint-calculator" target="_blank"><i class="fab fa-github"></i> </a>
</h1>
<div class="d-flex justify-content-between">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [formControl]="calculationMethod">
    <mat-button-toggle value="bound_center">Bound center</mat-button-toggle>
    <mat-button-toggle value="average">Average latitude/longitude</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="row">
  <div class="col-12 col-md-6 p-2" [ngClass]="{ 'd-none': showMap && innerWidth < 768 }">
    <button class="d-block" mat-flat-button color="primary" (click)="addAddress()">Add address</button>
    <div class="addresses">
      <div class="mt-4" *ngFor="let address of addressesAsync | async; let i = index; let isLast = last">
        <app-row
          class="d-block"
          [address]="address"
          (addressChange)="xd($event, i)"
          [index]="i"
          (selectAddress)="selectedAddress($event, i)"
          (removed)="removeMarker(i)"
        ></app-row>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 p-0" [ngClass]="{ 'd-none': !showMap && innerWidth < 768 }">
    <google-map height="80vh" width="100%">
      <map-marker
        *ngFor="let position of markerPositions; let i = index"
        [position]="position"
        [options]="{ draggable: true }"
        (mapDragend)="moveMarker($event, i)"
      ></map-marker>
      <map-marker *ngIf="centerPosition | async as pos" [position]="pos" label="center"></map-marker>
    </google-map>
  </div>
  <div class="col-12 d-block d-md-none">
    <button class="btn btn-primary" (click)="toggleMap()">{{ showMap ? 'hide' : 'show' }} map</button>
  </div>
</div>
