<div>
  <div class="d-flex justify-content-between">
    <mat-form-field appearance="outline">
      <mat-label>Label</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="labelControl" />
    </mat-form-field>
    <button mat-icon-button color="warn" aria-label="Example icon button with a home icon" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="col">
    <input
      #yoyo
      type="text"
      class="form-control"
      placeholder="Address"
      [value]="_address?.address?.formatted_address"
    />
  </div>
</div>
